<ul>
    <li><a href="#" index="0" value="0" class="">не выбрано</a></li>
    <li><a href="#" index="1" value="434859">Alliance Oil - 19</a></li>
    <li><a href="#" index="2" value="435078" class="">Alliance Oil - 19.Доходность</a></li>
    <li><a href="#" index="3" value="434980" class="">Alliance Oil - 20</a></li>
    <li><a href="#" index="4" value="435199" class="">Alliance Oil - 20.Доходность</a></li>
    <li><a href="#" index="5" value="434938">Brunswick Rail - 17</a></li>
    <li><a href="#" index="6" value="435157">Brunswick Rail - 17.Доходность</a></li>
    <li><a href="#" index="7" value="434983">Nordgold - 18</a></li>
    <li><a href="#" index="8" value="435202">Nordgold - 18.Доходность</a></li>
    <li><a href="#" index="9" value="434939">АК БАРС БАНК - 15</a></li>
    <li><a href="#" index="10" value="435158">АК БАРС БАНК - 15.Доходность</a></li>
    <li><a href="#" index="11" value="434923">АК БАРС БАНК - 22</a></li>
    <li><a href="#" index="12" value="435142">АК БАРС БАНК - 22.Доходность</a></li>
    <li><a href="#" index="13" value="434871">АЛРОСА - 20</a></li>
    <li><a href="#" index="14" value="435090">АЛРОСА - 20.Доходность</a></li>
    <li><a href="#" index="15" value="434834">АЛЬФА-БАНК - 17</a></li>
    <li><a href="#" index="16" value="434867">АЛЬФА-БАНК - 17</a></li>
    <li><a href="#" index="17" value="435025">АЛЬФА-БАНК - 17</a></li>
    <li><a href="#" index="18" value="435053">АЛЬФА-БАНК - 17.Доходность</a></li>
    <li><a href="#" index="19" value="435086">АЛЬФА-БАНК - 17.Доходность</a></li>
    <li><a href="#" index="20" value="435244">АЛЬФА-БАНК - 17.Доходность</a></li>
    <li><a href="#" index="21" value="435008">АЛЬФА-БАНК - 18</a></li>
    <li><a href="#" index="22" value="435227">АЛЬФА-БАНК - 18.Доходность</a></li>
    <li><a href="#" index="23" value="434930">АЛЬФА-БАНК - 19</a></li>
    <li><a href="#" index="24" value="435149">АЛЬФА-БАНК - 19.Доходность</a></li>
    <li><a href="#" index="25" value="434886">АЛЬФА-БАНК - 21</a></li>
    <li><a href="#" index="26" value="435105">АЛЬФА-БАНК - 21.Доходность</a></li>
    <li><a href="#" index="27" value="435032">АЛЬФА-БАНК - 25</a></li>
    <li><a href="#" index="28" value="435251">АЛЬФА-БАНК - 25.Доходность</a></li>
    <li><a href="#" index="29" value="434915">АФК Система - 19</a></li>
    <li><a href="#" index="30" value="435134">АФК Система - 19.Доходность</a></li>
    <li><a href="#" index="31" value="434822">Банк ВТБ Северо-Запад - 15</a></li>
    <li><a href="#" index="32" value="435041">Банк ВТБ Северо-Запад - 15.Доходность</a></li>
    <li><a href="#" index="33" value="434824">Банк Москвы - 15</a></li>
    <li><a href="#" index="34" value="435043">Банк Москвы - 15.Доходность</a></li>
    <li><a href="#" index="35" value="434838">Банк Москвы - 17</a></li>
    <li><a href="#" index="36" value="435057">Банк Москвы - 17.Доходность</a></li>
    <li><a href="#" index="37" value="434844">Банк Санкт-Петербург - 17</a></li>
    <li><a href="#" index="38" value="435063">Банк Санкт-Петербург - 17.Доходность</a></li>
    <li><a href="#" index="39" value="434933">Банк Санкт-Петербург - 18</a></li>
    <li><a href="#" index="40" value="435152">Банк Санкт-Петербург - 18.Доходность</a></li>
    <li><a href="#" index="41" value="435001">Банк Санкт-Петербург - 19</a></li>
    <li><a href="#" index="42" value="435220">Банк Санкт-Петербург - 19.Доходность</a></li>
    <li><a href="#" index="43" value="434860">Банк ФК Открытие - 15</a></li>
    <li><a href="#" index="44" value="435079">Банк ФК Открытие - 15.Доходность</a></li>
    <li><a href="#" index="45" value="434979">Банк ФК Открытие - 18</a></li>
    <li><a href="#" index="46" value="435198">Банк ФК Открытие - 18.Доходность</a></li>
    <li><a href="#" index="47" value="434909">Банк ФК Открытие - 19</a></li>
    <li><a href="#" index="48" value="434988">Банк ФК Открытие - 19</a></li>
    <li><a href="#" index="49" value="435128">Банк ФК Открытие - 19.Доходность</a></li>
    <li><a href="#" index="50" value="435207">Банк ФК Открытие - 19.Доходность</a></li>
    <li><a href="#" index="51" value="434971">Буровая компания Евразия - 20</a></li>
    <li><a href="#" index="52" value="435190">Буровая компания Евразия - 20.Доходность</a></li>
    <li><a href="#" index="53" value="434924">ВТБ - -</a></li>
    <li><a href="#" index="54" value="435143">ВТБ - -.Доходность</a></li>
    <li><a href="#" index="55" value="434897">ВТБ - 15</a></li>
    <li><a href="#" index="56" value="434935">ВТБ - 15</a></li>
    <li><a href="#" index="57" value="435116">ВТБ - 15.Доходность</a></li>
    <li><a href="#" index="58" value="435154">ВТБ - 15.Доходность</a></li>
    <li><a href="#" index="59" value="434826">ВТБ - 16</a></li>
    <li><a href="#" index="60" value="434925">ВТБ - 16</a></li>
    <li><a href="#" index="61" value="435045">ВТБ - 16.Доходность</a></li>
    <li><a href="#" index="62" value="435144">ВТБ - 16.Доходность</a></li>
    <li><a href="#" index="63" value="434908">ВТБ - 17</a></li>
    <li><a href="#" index="64" value="434945">ВТБ - 17</a></li>
    <li><a href="#" index="65" value="435127">ВТБ - 17.Доходность</a></li>
    <li><a href="#" index="66" value="435164">ВТБ - 17.Доходность</a></li>
    <li><a href="#" index="67" value="434851">ВТБ - 18</a></li>
    <li><a href="#" index="68" value="434884">ВТБ - 18</a></li>
    <li><a href="#" index="69" value="435006">ВТБ - 18</a></li>
    <li><a href="#" index="70" value="435070">ВТБ - 18.Доходность</a></li>
    <li><a href="#" index="71" value="435103">ВТБ - 18.Доходность</a></li>
    <li><a href="#" index="72" value="435225">ВТБ - 18.Доходность</a></li>
    <li><a href="#" index="73" value="434868">ВТБ - 20</a></li>
    <li><a href="#" index="74" value="435087">ВТБ - 20.Доходность</a></li>
    <li><a href="#" index="75" value="434814">ВТБ - 24</a></li>
    <li><a href="#" index="76" value="435027">ВТБ - 24</a></li>
    <li><a href="#" index="77" value="435033">ВТБ - 24.yield</a></li>
    <li><a href="#" index="78" value="435246">ВТБ - 24.Доходность</a></li>
    <li><a href="#" index="79" value="434819">ВТБ - 35</a></li>
    <li><a href="#" index="80" value="435038">ВТБ - 35.Доходность</a></li>
    <li><a href="#" index="81" value="434889">ВЭБ-лизинг - 16</a></li>
    <li><a href="#" index="82" value="435108">ВЭБ-лизинг - 16.Доходность</a></li>
    <li><a href="#" index="83" value="435009">Внешпромбанк - 16</a></li>
    <li><a href="#" index="84" value="435228">Внешпромбанк - 16.Доходность</a></li>
    <li><a href="#" index="85" value="434879">Внешэкономбанк - 16</a></li>
    <li><a href="#" index="86" value="435098">Внешэкономбанк - 16.Доходность</a></li>
    <li><a href="#" index="87" value="434875">Внешэкономбанк - 17</a></li>
    <li><a href="#" index="88" value="434902">Внешэкономбанк - 17</a></li>
    <li><a href="#" index="89" value="435094">Внешэкономбанк - 17.Доходность</a></li>
    <li><a href="#" index="90" value="435121">Внешэкономбанк - 17.Доходность</a></li>
    <li><a href="#" index="91" value="434961">Внешэкономбанк - 18</a></li>
    <li><a href="#" index="92" value="435012">Внешэкономбанк - 18</a></li>
    <li><a href="#" index="93" value="435180">Внешэкономбанк - 18.Доходность</a></li>
    <li><a href="#" index="94" value="435231">Внешэкономбанк - 18.Доходность</a></li>
    <li><a href="#" index="95" value="434864">Внешэкономбанк - 20</a></li>
    <li><a href="#" index="96" value="435083">Внешэкономбанк - 20.Доходность</a></li>
    <li><a href="#" index="97" value="434918">Внешэкономбанк - 22</a></li>
    <li><a href="#" index="98" value="435137">Внешэкономбанк - 22.Доходность</a></li>
    <li><a href="#" index="99" value="434962">Внешэкономбанк - 23</a></li>
    <li><a href="#" index="100" value="435013">Внешэкономбанк - 23</a></li>
    <li><a href="#" index="101" value="435181">Внешэкономбанк - 23.Доходность</a></li>
    <li><a href="#" index="102" value="435232">Внешэкономбанк - 23.Доходность</a></li>
    <li><a href="#" index="103" value="434874">Внешэкономбанк - 25</a></li>
    <li><a href="#" index="104" value="435093">Внешэкономбанк - 25.Доходность</a></li>
    <li><a href="#" index="105" value="434828">ВымпелКом - 16</a></li>
    <li><a href="#" index="106" value="434881">ВымпелКом - 16</a></li>
    <li><a href="#" index="107" value="435047">ВымпелКом - 16.Доходность</a></li>
    <li><a href="#" index="108" value="435100">ВымпелКом - 16.Доходность</a></li>
    <li><a href="#" index="109" value="434893">ВымпелКом - 17</a></li>
    <li><a href="#" index="110" value="435112">ВымпелКом - 17.Доходность</a></li>
    <li><a href="#" index="111" value="434850">ВымпелКом - 18</a></li>
    <li><a href="#" index="112" value="435069">ВымпелКом - 18.Доходность</a></li>
    <li><a href="#" index="113" value="434958">ВымпелКом - 19</a></li>
    <li><a href="#" index="114" value="435177">ВымпелКом - 19.Доходность</a></li>
    <li><a href="#" index="115" value="434880">ВымпелКом - 21</a></li>
    <li><a href="#" index="116" value="435099">ВымпелКом - 21.Доходность</a></li>
    <li><a href="#" index="117" value="434894">ВымпелКом - 22</a></li>
    <li><a href="#" index="118" value="435113">ВымпелКом - 22.Доходность</a></li>
    <li><a href="#" index="119" value="434959">ВымпелКом - 23</a></li>
    <li><a href="#" index="120" value="435178">ВымпелКом - 23.Доходность</a></li>
    <li><a href="#" index="121" value="434981">ГМК Норильский никель - 18</a></li>
    <li><a href="#" index="122" value="435200">ГМК Норильский никель - 18.Доходность</a></li>
    <li><a href="#" index="123" value="435005">ГМК Норильский никель - 20</a></li>
    <li><a href="#" index="124" value="435224">ГМК Норильский никель - 20.Доходность</a></li>
    <li><a href="#" index="125" value="434818">Газпром - 15</a></li>
    <li><a href="#" index="126" value="434876">Газпром - 15</a></li>
    <li><a href="#" index="127" value="435031">Газпром - 15</a></li>
    <li><a href="#" index="128" value="435037">Газпром - 15.Доходность</a></li>
    <li><a href="#" index="129" value="435095">Газпром - 15.Доходность</a></li>
    <li><a href="#" index="130" value="435250">Газпром - 15.Доходность</a></li>
    <li><a href="#" index="131" value="434831">Газпром - 16</a></li>
    <li><a href="#" index="132" value="434898">Газпром - 16</a></li>
    <li><a href="#" index="133" value="435050">Газпром - 16.Доходность</a></li>
    <li><a href="#" index="134" value="435117">Газпром - 16.Доходность</a></li>
    <li><a href="#" index="135" value="434832">Газпром - 17</a></li>
    <li><a href="#" index="136" value="434835">Газпром - 17</a></li>
    <li><a href="#" index="137" value="434921">Газпром - 17</a></li>
    <li><a href="#" index="138" value="435051">Газпром - 17.Доходность</a></li>
    <li><a href="#" index="139" value="435054">Газпром - 17.Доходность</a></li>
    <li><a href="#" index="140" value="435140">Газпром - 17.Доходность</a></li>
    <li><a href="#" index="141" value="434847">Газпром - 18</a></li>
    <li><a href="#" index="142" value="434848">Газпром - 18</a></li>
    <li><a href="#" index="143" value="434989">Газпром - 18</a></li>
    <li><a href="#" index="144" value="435066">Газпром - 18.Доходность</a></li>
    <li><a href="#" index="145" value="435067">Газпром - 18.Доходность</a></li>
    <li><a href="#" index="146" value="435208">Газпром - 18.Доходность</a></li>
    <li><a href="#" index="147" value="434854">Газпром - 19</a></li>
    <li><a href="#" index="148" value="435004">Газпром - 19</a></li>
    <li><a href="#" index="149" value="435073">Газпром - 19.Доходность</a></li>
    <li><a href="#" index="150" value="435223">Газпром - 19.Доходность</a></li>
    <li><a href="#" index="151" value="434953">Газпром - 20</a></li>
    <li><a href="#" index="152" value="434965">Газпром - 20</a></li>
    <li><a href="#" index="153" value="434999">Газпром - 20</a></li>
    <li><a href="#" index="154" value="435172">Газпром - 20.Доходность</a></li>
    <li><a href="#" index="155" value="435184">Газпром - 20.Доходность</a></li>
    <li><a href="#" index="156" value="435218">Газпром - 20.Доходность</a></li>
    <li><a href="#" index="157" value="434899">Газпром - 21</a></li>
    <li><a href="#" index="158" value="435019">Газпром - 21</a></li>
    <li><a href="#" index="159" value="435118">Газпром - 21.Доходность</a></li>
    <li><a href="#" index="160" value="435238">Газпром - 21.Доходность</a></li>
    <li><a href="#" index="161" value="434836">Газпром - 22</a></li>
    <li><a href="#" index="162" value="435055">Газпром - 22.Доходность</a></li>
    <li><a href="#" index="163" value="434966">Газпром - 25</a></li>
    <li><a href="#" index="164" value="435185">Газпром - 25.Доходность</a></li>
    <li><a href="#" index="165" value="434954">Газпром - 28</a></li>
    <li><a href="#" index="166" value="435173">Газпром - 28.Доходность</a></li>
    <li><a href="#" index="167" value="434817">Газпром - 34</a></li>
    <li><a href="#" index="168" value="435036">Газпром - 34.Доходность</a></li>
    <li><a href="#" index="169" value="434845">Газпром - 37</a></li>
    <li><a href="#" index="170" value="435064">Газпром - 37.Доходность</a></li>
    <li><a href="#" index="171" value="434977">Газпром нефть - 18</a></li>
    <li><a href="#" index="172" value="435196">Газпром нефть - 18.Доходность</a></li>
    <li><a href="#" index="173" value="434926">Газпром нефть - 22</a></li>
    <li><a href="#" index="174" value="435145">Газпром нефть - 22.Доходность</a></li>
    <li><a href="#" index="175" value="435014">Газпром нефть - 23</a></li>
    <li><a href="#" index="176" value="435233">Газпром нефть - 23.Доходность</a></li>
    <li><a href="#" index="177" value="434934">Газпромбанк - -</a></li>
    <li><a href="#" index="178" value="435153">Газпромбанк - -.Доходность</a></li>
    <li><a href="#" index="179" value="434821">Газпромбанк - 15</a></li>
    <li><a href="#" index="180" value="434919">Газпромбанк - 15</a></li>
    <li><a href="#" index="181" value="435040">Газпромбанк - 15.Доходность</a></li>
    <li><a href="#" index="182" value="435138">Газпромбанк - 15.Доходность</a></li>
    <li><a href="#" index="183" value="434855">Газпромбанк - 16</a></li>
    <li><a href="#" index="184" value="434955">Газпромбанк - 16</a></li>
    <li><a href="#" index="185" value="435007">Газпромбанк - 16</a></li>
    <li><a href="#" index="186" value="435074">Газпромбанк - 16.Доходность</a></li>
    <li><a href="#" index="187" value="435174">Газпромбанк - 16.Доходность</a></li>
    <li><a href="#" index="188" value="435226">Газпромбанк - 16.Доходность</a></li>
    <li><a href="#" index="189" value="434910">Газпромбанк - 17</a></li>
    <li><a href="#" index="190" value="435018">Газпромбанк - 17</a></li>
    <li><a href="#" index="191" value="435129">Газпромбанк - 17.Доходность</a></li>
    <li><a href="#" index="192" value="435237">Газпромбанк - 17.Доходность</a></li>
    <li><a href="#" index="193" value="434994">Газпромбанк - 18</a></li>
    <li><a href="#" index="194" value="435213">Газпромбанк - 18.Доходность</a></li>
    <li><a href="#" index="195" value="434914">Газпромбанк - 19</a></li>
    <li><a href="#" index="196" value="435026">Газпромбанк - 19</a></li>
    <li><a href="#" index="197" value="435029">Газпромбанк - 19</a></li>
    <li><a href="#" index="198" value="435248">Газпромбанк - 19.yield</a></li>
    <li><a href="#" index="199" value="435133">Газпромбанк - 19.Доходность</a></li>
    <li><a href="#" index="200" value="435245">Газпромбанк - 19.Доходность</a></li>
    <li><a href="#" index="201" value="434992">Газпромбанк - 20</a></li>
    <li><a href="#" index="202" value="435211">Газпромбанк - 20.Доходность</a></li>
    <li><a href="#" index="203" value="435017">Газпромбанк - 24</a></li>
    <li><a href="#" index="204" value="435236">Газпромбанк - 24.Доходность</a></li>
    <li><a href="#" index="205" value="434973">ДВМП - 18</a></li>
    <li><a href="#" index="206" value="435192">ДВМП - 18.Доходность</a></li>
    <li><a href="#" index="207" value="434974">ДВМП - 20</a></li>
    <li><a href="#" index="208" value="435193">ДВМП - 20.Доходность</a></li>
    <li><a href="#" index="209" value="435010">Домодедово - 18</a></li>
    <li><a href="#" index="210" value="435229">Домодедово - 18.Доходность</a></li>
    <li><a href="#" index="211" value="434823">Евраз Груп - 15</a></li>
    <li><a href="#" index="212" value="435042">Евраз Груп - 15.Доходность</a></li>
    <li><a href="#" index="213" value="434911">Евраз Груп - 17</a></li>
    <li><a href="#" index="214" value="435130">Евраз Груп - 17.Доходность</a></li>
    <li><a href="#" index="215" value="434849">Евраз Груп - 18</a></li>
    <li><a href="#" index="216" value="434888">Евраз Груп - 18</a></li>
    <li><a href="#" index="217" value="435068">Евраз Груп - 18.Доходность</a></li>
    <li><a href="#" index="218" value="435107">Евраз Груп - 18.Доходность</a></li>
    <li><a href="#" index="219" value="434972">Евраз Груп - 20</a></li>
    <li><a href="#" index="220" value="435191">Евраз Груп - 20.Доходность</a></li>
    <li><a href="#" index="221" value="434942">ЕвроХим - 17</a></li>
    <li><a href="#" index="222" value="435161">ЕвроХим - 17.Доходность</a></li>
    <li><a href="#" index="223" value="434842">КБ Восточный - 17</a></li>
    <li><a href="#" index="224" value="435061">КБ Восточный - 17.Доходность</a></li>
    <li><a href="#" index="225" value="435015">КБ Восточный - 19</a></li>
    <li><a href="#" index="226" value="435234">КБ Восточный - 19.Доходность</a></li>
    <li><a href="#" index="227" value="434985">КБ Ренессанс Кредит - 16</a></li>
    <li><a href="#" index="228" value="435204">КБ Ренессанс Кредит - 16.Доходность</a></li>
    <li><a href="#" index="229" value="434947">КБ Ренессанс Кредит - 18</a></li>
    <li><a href="#" index="230" value="435166">КБ Ренессанс Кредит - 18.Доходность</a></li>
    <li><a href="#" index="231" value="435011">КБ Ренессанс Кредит - 19</a></li>
    <li><a href="#" index="232" value="435230">КБ Ренессанс Кредит - 19.Доходность</a></li>
    <li><a href="#" index="233" value="434892">Кокс - 16</a></li>
    <li><a href="#" index="234" value="435111">Кокс - 16.Доходность</a></li>
    <li><a href="#" index="235" value="434940">Кредит Европа Банк - 19</a></li>
    <li><a href="#" index="236" value="435159">Кредит Европа Банк - 19.Доходность</a></li>
    <li><a href="#" index="237" value="434877">Лукойл - 15</a></li>
    <li><a href="#" index="238" value="435096">Лукойл - 15.Доходность</a></li>
    <li><a href="#" index="239" value="434841">Лукойл - 17</a></li>
    <li><a href="#" index="240" value="435060">Лукойл - 17.Доходность</a></li>
    <li><a href="#" index="241" value="434975">Лукойл - 18</a></li>
    <li><a href="#" index="242" value="435194">Лукойл - 18.Доходность</a></li>
    <li><a href="#" index="243" value="434856">Лукойл - 19</a></li>
    <li><a href="#" index="244" value="435075">Лукойл - 19.Доходность</a></li>
    <li><a href="#" index="245" value="434872">Лукойл - 20</a></li>
    <li><a href="#" index="246" value="435091">Лукойл - 20.Доходность</a></li>
    <li><a href="#" index="247" value="434840">Лукойл - 22</a></li>
    <li><a href="#" index="248" value="435059">Лукойл - 22.Доходность</a></li>
    <li><a href="#" index="249" value="434976">Лукойл - 23</a></li>
    <li><a href="#" index="250" value="435195">Лукойл - 23.Доходность</a></li>
    <li><a href="#" index="251" value="434895">МЕТАЛЛОИНВЕСТ - 16</a></li>
    <li><a href="#" index="252" value="435114">МЕТАЛЛОИНВЕСТ - 16.Доходность</a></li>
    <li><a href="#" index="253" value="434970">МЕТАЛЛОИНВЕСТ - 20</a></li>
    <li><a href="#" index="254" value="435189">МЕТАЛЛОИНВЕСТ - 20.Доходность</a></li>
    <li><a href="#" index="255" value="434948">МКБ - 18</a></li>
    <li><a href="#" index="256" value="434982">МКБ - 18</a></li>
    <li><a href="#" index="257" value="435167">МКБ - 18.Доходность</a></li>
    <li><a href="#" index="258" value="435201">МКБ - 18.Доходность</a></li>
    <li><a href="#" index="259" value="434862">МТС - 20</a></li>
    <li><a href="#" index="260" value="435081">МТС - 20.Доходность</a></li>
    <li><a href="#" index="261" value="434986">МТС - 23</a></li>
    <li><a href="#" index="262" value="435205">МТС - 23.Доходность</a></li>
    <li><a href="#" index="263" value="434827">МТС-Банк - 16</a></li>
    <li><a href="#" index="264" value="435046">МТС-Банк - 16.Доходность</a></li>
    <li><a href="#" index="265" value="434830">Москва - 16</a></li>
    <li><a href="#" index="266" value="435049">Москва - 16.Доходность</a></li>
    <li><a href="#" index="267" value="434960">НЛМК - 18</a></li>
    <li><a href="#" index="268" value="435179">НЛМК - 18.Доходность</a></li>
    <li><a href="#" index="269" value="434929">НЛМК - 19</a></li>
    <li><a href="#" index="270" value="435148">НЛМК - 19.Доходность</a></li>
    <li><a href="#" index="271" value="434883">Новатэк - 16</a></li>
    <li><a href="#" index="272" value="435102">Новатэк - 16.Доходность</a></li>
    <li><a href="#" index="273" value="434882">Новатэк - 21</a></li>
    <li><a href="#" index="274" value="435101">Новатэк - 21.Доходность</a></li>
    <li><a href="#" index="275" value="434946">Новатэк - 22</a></li>
    <li><a href="#" index="276" value="435165">Новатэк - 22.Доходность</a></li>
    <li><a href="#" index="277" value="435000">ПК Борец - 18</a></li>
    <li><a href="#" index="278" value="435219">ПК Борец - 18.Доходность</a></li>
    <li><a href="#" index="279" value="434978">Полюс Золото - 20</a></li>
    <li><a href="#" index="280" value="435197">Полюс Золото - 20.Доходность</a></li>
    <li><a href="#" index="281" value="434873">Пробизнесбанк - 16</a></li>
    <li><a href="#" index="282" value="435092">Пробизнесбанк - 16.Доходность</a></li>
    <li><a href="#" index="283" value="434865">Промсвязьбанк - 16</a></li>
    <li><a href="#" index="284" value="435084">Промсвязьбанк - 16.Доходность</a></li>
    <li><a href="#" index="285" value="434912">Промсвязьбанк - 17</a></li>
    <li><a href="#" index="286" value="435131">Промсвязьбанк - 17.Доходность</a></li>
    <li><a href="#" index="287" value="434937">Промсвязьбанк - 19</a></li>
    <li><a href="#" index="288" value="435156">Промсвязьбанк - 19.Доходность</a></li>
    <li><a href="#" index="289" value="435023">Промсвязьбанк - 21</a></li>
    <li><a href="#" index="290" value="435030">Промсвязьбанк - 21</a></li>
    <li><a href="#" index="291" value="435242">Промсвязьбанк - 21.Доходность</a></li>
    <li><a href="#" index="292" value="435249">Промсвязьбанк - 21.Доходность</a></li>
    <li><a href="#" index="293" value="434857">РЖД - 17</a></li>
    <li><a href="#" index="294" value="435076">РЖД - 17.Доходность</a></li>
    <li><a href="#" index="295" value="434952">РЖД - 18</a></li>
    <li><a href="#" index="296" value="435171">РЖД - 18.Доходность</a></li>
    <li><a href="#" index="297" value="434951">РЖД - 21</a></li>
    <li><a href="#" index="298" value="434968">РЖД - 21</a></li>
    <li><a href="#" index="299" value="435170">РЖД - 21.Доходность</a></li>
    <li><a href="#" index="300" value="435187">РЖД - 21.Доходность</a></li>
    <li><a href="#" index="301" value="434907">РЖД - 22</a></li>
    <li><a href="#" index="302" value="435126">РЖД - 22.Доходность</a></li>
    <li><a href="#" index="303" value="435020">РЖД - 23</a></li>
    <li><a href="#" index="304" value="435239">РЖД - 23.Доходность</a></li>
    <li><a href="#" index="305" value="434885">РЖД - 31</a></li>
    <li><a href="#" index="306" value="435104">РЖД - 31.Доходность</a></li>
    <li><a href="#" index="307" value="434829">РН Холдинг - 16</a></li>
    <li><a href="#" index="308" value="435048">РН Холдинг - 16.Доходность</a></li>
    <li><a href="#" index="309" value="434837">РН Холдинг - 17</a></li>
    <li><a href="#" index="310" value="435056">РН Холдинг - 17.Доходность</a></li>
    <li><a href="#" index="311" value="434846">РН Холдинг - 18</a></li>
    <li><a href="#" index="312" value="435065">РН Холдинг - 18.Доходность</a></li>
    <li><a href="#" index="313" value="434858">РН Холдинг - 20</a></li>
    <li><a href="#" index="314" value="435077">РН Холдинг - 20.Доходность</a></li>
    <li><a href="#" index="315" value="434913">Распадская - 17</a></li>
    <li><a href="#" index="316" value="435132">Распадская - 17.Доходность</a></li>
    <li><a href="#" index="317" value="434887">Ренессанс Капитал - 16</a></li>
    <li><a href="#" index="318" value="435106">Ренессанс Капитал - 16.Доходность</a></li>
    <li><a href="#" index="319" value="434944">Роснефть - 17</a></li>
    <li><a href="#" index="320" value="435163">Роснефть - 17.Доходность</a></li>
    <li><a href="#" index="321" value="434943">Роснефть - 22</a></li>
    <li><a href="#" index="322" value="435162">Роснефть - 22.Доходность</a></li>
    <li><a href="#" index="323" value="434922">Россельхозбанк - 15</a></li>
    <li><a href="#" index="324" value="435141">Россельхозбанк - 15.Доходность</a></li>
    <li><a href="#" index="325" value="434949">Россельхозбанк - 16</a></li>
    <li><a href="#" index="326" value="435168">Россельхозбанк - 16.Доходность</a></li>
    <li><a href="#" index="327" value="434839">Россельхозбанк - 17</a></li>
    <li><a href="#" index="328" value="434916">Россельхозбанк - 17</a></li>
    <li><a href="#" index="329" value="435058">Россельхозбанк - 17.Доходность</a></li>
    <li><a href="#" index="330" value="435135">Россельхозбанк - 17.Доходность</a></li>
    <li><a href="#" index="331" value="434852">Россельхозбанк - 18</a></li>
    <li><a href="#" index="332" value="434993">Россельхозбанк - 18</a></li>
    <li><a href="#" index="333" value="435071">Россельхозбанк - 18.Доходность</a></li>
    <li><a href="#" index="334" value="435212">Россельхозбанк - 18.Доходность</a></li>
    <li><a href="#" index="335" value="434890">Россельхозбанк - 21</a></li>
    <li><a href="#" index="336" value="435109">Россельхозбанк - 21.Доходность</a></li>
    <li><a href="#" index="337" value="435002">Россельхозбанк - 23</a></li>
    <li><a href="#" index="338" value="435221">Россельхозбанк - 23.Доходность</a></li>
    <li><a href="#" index="339" value="434904">Россия - 17</a></li>
    <li><a href="#" index="340" value="435123">Россия - 17.Доходность</a></li>
    <li><a href="#" index="341" value="434815">Россия - 18</a></li>
    <li><a href="#" index="342" value="435034">Россия - 18.Доходность</a></li>
    <li><a href="#" index="343" value="434995">Россия - 19</a></li>
    <li><a href="#" index="344" value="435214">Россия - 19.Доходность</a></li>
    <li><a href="#" index="345" value="434861">Россия - 20</a></li>
    <li><a href="#" index="346" value="434998">Россия - 20</a></li>
    <li><a href="#" index="347" value="435080">Россия - 20.Доходность</a></li>
    <li><a href="#" index="348" value="435217">Россия - 20.Доходность</a></li>
    <li><a href="#" index="349" value="434905">Россия - 22</a></li>
    <li><a href="#" index="350" value="435124">Россия - 22.Доходность</a></li>
    <li><a href="#" index="351" value="434996">Россия - 23</a></li>
    <li><a href="#" index="352" value="435215">Россия - 23.Доходность</a></li>
    <li><a href="#" index="353" value="435028">Россия - 28</a></li>
    <li><a href="#" index="354" value="435247">Россия - 28.Доходность</a></li>
    <li><a href="#" index="355" value="434816">Россия - 30</a></li>
    <li><a href="#" index="356" value="435035">Россия - 30.Доходность</a></li>
    <li><a href="#" index="357" value="434906">Россия - 42</a></li>
    <li><a href="#" index="358" value="435125">Россия - 42.Доходность</a></li>
    <li><a href="#" index="359" value="434997">Россия - 43</a></li>
    <li><a href="#" index="360" value="435216">Россия - 43.Доходность</a></li>
    <li><a href="#" index="361" value="434825">Русский стандарт - 15</a></li>
    <li><a href="#" index="362" value="435044">Русский стандарт - 15.Доходность</a></li>
    <li><a href="#" index="363" value="434833">Русский стандарт - 16</a></li>
    <li><a href="#" index="364" value="435052">Русский стандарт - 16.Доходность</a></li>
    <li><a href="#" index="365" value="434920">Русский стандарт - 17</a></li>
    <li><a href="#" index="366" value="435139">Русский стандарт - 17.Доходность</a></li>
    <li><a href="#" index="367" value="434931">Русский стандарт - 20</a></li>
    <li><a href="#" index="368" value="435150">Русский стандарт - 20.Доходность</a></li>
    <li><a href="#" index="369" value="434987">Русский стандарт - 24</a></li>
    <li><a href="#" index="370" value="435206">Русский стандарт - 24.Доходность</a></li>
    <li><a href="#" index="371" value="434950">СИБУР Холдинг - 18</a></li>
    <li><a href="#" index="372" value="435169">СИБУР Холдинг - 18.Доходность</a></li>
    <li><a href="#" index="373" value="434863">Сбербанк России - 15</a></li>
    <li><a href="#" index="374" value="434903">Сбербанк России - 15</a></li>
    <li><a href="#" index="375" value="435082">Сбербанк России - 15.Доходность</a></li>
    <li><a href="#" index="376" value="435122">Сбербанк России - 15.Доходность</a></li>
    <li><a href="#" index="377" value="434866">Сбербанк России - 17</a></li>
    <li><a href="#" index="378" value="434900">Сбербанк России - 17</a></li>
    <li><a href="#" index="379" value="434956">Сбербанк России - 17</a></li>
    <li><a href="#" index="380" value="435085">Сбербанк России - 17.Доходность</a></li>
    <li><a href="#" index="381" value="435119">Сбербанк России - 17.Доходность</a></li>
    <li><a href="#" index="382" value="435175">Сбербанк России - 17.Доходность</a></li>
    <li><a href="#" index="383" value="434963">Сбербанк России - 18</a></li>
    <li><a href="#" index="384" value="435182">Сбербанк России - 18.Доходность</a></li>
    <li><a href="#" index="385" value="434917">Сбербанк России - 19</a></li>
    <li><a href="#" index="386" value="435021">Сбербанк России - 19</a></li>
    <li><a href="#" index="387" value="435022">Сбербанк России - 19</a></li>
    <li><a href="#" index="388" value="435136">Сбербанк России - 19.Доходность</a></li>
    <li><a href="#" index="389" value="435240">Сбербанк России - 19.Доходность</a></li>
    <li><a href="#" index="390" value="435241">Сбербанк России - 19.Доходность</a></li>
    <li><a href="#" index="391" value="434891">Сбербанк России - 21</a></li>
    <li><a href="#" index="392" value="435110">Сбербанк России - 21.Доходность</a></li>
    <li><a href="#" index="393" value="434901">Сбербанк России - 22</a></li>
    <li><a href="#" index="394" value="435120">Сбербанк России - 22.Доходность</a></li>
    <li><a href="#" index="395" value="434984">Сбербанк России - 23</a></li>
    <li><a href="#" index="396" value="435203">Сбербанк России - 23.Доходность</a></li>
    <li><a href="#" index="397" value="434820">Связьинвестнефтехим - 15</a></li>
    <li><a href="#" index="398" value="435039">Связьинвестнефтехим - 15.Доходность</a></li>
    <li><a href="#" index="399" value="434896">Северсталь - 16</a></li>
    <li><a href="#" index="400" value="435115">Северсталь - 16.Доходность</a></li>
    <li><a href="#" index="401" value="434869">Северсталь - 17</a></li>
    <li><a href="#" index="402" value="434928">Северсталь - 17</a></li>
    <li><a href="#" index="403" value="435088">Северсталь - 17.Доходность</a></li>
    <li><a href="#" index="404" value="435147">Северсталь - 17.Доходность</a></li>
    <li><a href="#" index="405" value="434964">Северсталь - 18</a></li>
    <li><a href="#" index="406" value="435183">Северсталь - 18.Доходность</a></li>
    <li><a href="#" index="407" value="434932">Северсталь - 22</a></li>
    <li><a href="#" index="408" value="435151">Северсталь - 22.Доходность</a></li>
    <li><a href="#" index="409" value="434870">Совкомфлот - 17</a></li>
    <li><a href="#" index="410" value="435089">Совкомфлот - 17.Доходность</a></li>
    <li><a href="#" index="411" value="434878">ТМК - 18</a></li>
    <li><a href="#" index="412" value="435097">ТМК - 18.Доходность</a></li>
    <li><a href="#" index="413" value="434967">ТМК - 20</a></li>
    <li><a href="#" index="414" value="435186">ТМК - 20.Доходность</a></li>
    <li><a href="#" index="415" value="435024">Татфондбанк - 17</a></li>
    <li><a href="#" index="416" value="435243">Татфондбанк - 17.Доходность</a></li>
    <li><a href="#" index="417" value="434927">Тинькофф Банк - 15</a></li>
    <li><a href="#" index="418" value="435146">Тинькофф Банк - 15.Доходность</a></li>
    <li><a href="#" index="419" value="434941">Тинькофф Банк - 18</a></li>
    <li><a href="#" index="420" value="435160">Тинькофф Банк - 18.Доходность</a></li>
    <li><a href="#" index="421" value="434843">Транскапиталбанк - 20</a></li>
    <li><a href="#" index="422" value="435062">Транскапиталбанк - 20.Доходность</a></li>
    <li><a href="#" index="423" value="434853">Транснефть - 18</a></li>
    <li><a href="#" index="424" value="435072">Транснефть - 18.Доходность</a></li>
    <li><a href="#" index="425" value="434991">УБРиР - 18</a></li>
    <li><a href="#" index="426" value="435210">УБРиР - 18.Доходность</a></li>
    <li><a href="#" index="427" value="434969">Уралкалий - 18</a></li>
    <li><a href="#" index="428" value="435188">Уралкалий - 18.Доходность</a></li>
    <li><a href="#" index="429" value="434957">ФосАгро - 18</a></li>
    <li><a href="#" index="430" value="435176">ФосАгро - 18.Доходность</a></li>
    <li><a href="#" index="431" value="434936">ХКФ Банк - 20</a></li>
    <li><a href="#" index="432" value="435155">ХКФ Банк - 20.Доходность</a></li>
    <li><a href="#" index="433" value="435003">ХКФ Банк - 21</a></li>
    <li><a href="#" index="434" value="435222">ХКФ Банк - 21.Доходность</a></li>
    <li><a href="#" index="435" value="434990">Ханты-Мансийский банк Открытие - 23</a></li>
    <li><a href="#" index="436" value="435209">Ханты-Мансийский банк Открытие - 23.Доходность</a></li>
    <li><a href="#" index="437" value="435016">Яндекс - 18</a></li>
    <li><a href="#" index="438" value="435235">Яндекс - 18.Доходность</a></li>
</ul>