<ul>
    <li><a href="#" index="0" value="0" class="">не выбрано</a></li>
    <li><a href="#" index="1" value="80891">Mail.Ru</a></li>
    <li><a href="#" index="2" value="21106" class="">X5 Retail Group</a></li>
    <li><a href="#" index="3" value="16097" class="">АФК Система</a></li>
    <li><a href="#" index="4" value="66930">Акрон</a></li>
    <li><a href="#" index="5" value="18579">ВТБ</a></li>
    <li><a href="#" index="6" value="13861">Вымпелком</a></li>
    <li><a href="#" index="7" value="944">ГМКНорНик</a></li>
    <li><a href="#" index="8" value="902">Газпром (Анг)</a></li>
    <li><a href="#" index="9" value="912">Газпром (Гер)</a></li>
    <li><a href="#" index="10" value="19480">Газпромнефть</a></li>
    <li><a href="#" index="11" value="81076">Глобал Портс</a></li>
    <li><a href="#" index="12" value="80896">Глобалтранс</a></li>
    <li><a href="#" index="13" value="388345">Лента</a></li>
    <li><a href="#" index="14" value="918">Лукойл</a></li>
    <li><a href="#" index="15" value="80897">ММК</a></li>
    <li><a href="#" index="16" value="915">МТС</a></li>
    <li><a href="#" index="17" value="67030">Магнит</a></li>
    <li><a href="#" index="18" value="451619">Мегафон</a></li>
    <li><a href="#" index="19" value="16095">Мечел Сталь</a></li>
    <li><a href="#" index="20" value="920">Мосэнерго</a></li>
    <li><a href="#" index="21" value="22459">НЛМК</a></li>
    <li><a href="#" index="22" value="66937">Новатэк</a></li>
    <li><a href="#" index="23" value="80898">О'КЕЙ</a></li>
    <li><a href="#" index="24" value="80892">ПИК</a></li>
    <li><a href="#" index="25" value="66938">Полиметалл</a></li>
    <li><a href="#" index="26" value="17290">Роснефть</a></li>
    <li><a href="#" index="27" value="931">Ростелеком</a></li>
    <li><a href="#" index="28" value="22358">РусГидро</a></li>
    <li><a href="#" index="29" value="80895">Русагро</a></li>
    <li><a href="#" index="30" value="67042">Русал</a></li>
    <li><a href="#" index="31" value="81075">Сбербанк</a></li>
    <li><a href="#" index="32" value="66939">Северсталь</a></li>
    <li><a href="#" index="33" value="948">Сургутнфгз</a></li>
    <li><a href="#" index="34" value="66940">ТМК</a></li>
    <li><a href="#" index="35" value="934">Татнефть</a></li>
    <li><a href="#" index="36" value="21092">Уркалий</a></li>
    <li><a href="#" index="37" value="83169">ФСК ЕЭС</a></li>
    <li><a href="#" index="38" value="451618">ФосАгро</a></li>
    <li><a href="#" index="39" value="80894">Эталон-ЛенСпецСМУ</a></li>
</ul>